&nbsp;
<div class="component-holder ng-binding ng-scope" data-component="crn-textinput" id="crn-textinput-124949"></div>
<div class="component-holder ng-binding ng-scope" data-component="crn-cron-rich-editor" id="crn-cron-rich-editor-862633"><cron-rich-editor ng-model="vars.textrico2" options="{&quot;allowFullScreen&quot;:true,&quot;allowPage&quot;:true,&quot;allowPrint&quot;:true,&quot;allowTransferArea&quot;:true,&quot;allowDoUndo&quot;:true,&quot;allowSymbol&quot;:true,&quot;allowEmbeddedImage&quot;:true,&quot;allowFont&quot;:true,&quot;allowLinks&quot;:true,&quot;allowParagraph&quot;:true,&quot;allowFormulas&quot;:true,&quot;showMenuBar&quot;:true,&quot;showStatusBar&quot;:true,&quot;contentStyle&quot;:&quot;&quot;}"><img width="100%" src="plugins/cronapp-framework-js/dist/img/cronRichEditor.png"></cron-rich-editor></div>
<div class="component-holder ng-binding ng-scope" data-component="crn-richtextarea" id="crn-richtextarea-997248">
  <div class="form-group">
    <label for="textAreaTemplate">Label:</label>
    <textarea id="textArea2839" ng-model="vars.textRich" class="form-control" summernote="" lang="pt-BR"></textarea>
  </div>
</div>
<div class="component-holder ng-binding ng-scope" data-component="crn-richtextarea" id="crn-richtextarea-690771">
  <div class="form-group">
    <label for="textAreaTemplate">Label:</label>
    <textarea id="textArea2105" ng-model="vars.textrico3" class="form-control" summernote="" lang="pt-BR"></textarea>
  </div>
</div>
<button class="btn btn-default component-holder" type="submit" ng-click="blockly.js.blockly.Bloco.Executar()" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" data-component="crn-button" id="crn-button-94398"><i class="glyphicon glyphicon-home"></i> <span>Button </span></button>